$crna: #121212;
$bela: #FFF;
$tirkiz: #54A496;
$spacing: 50px;
$radius: 4px;
$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;
$background: #252827;
@font-face {
    font-family: "stranica";
    src: url("../fonts/PoppinsRegular.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@mixin fleks(){
    display: flex;
    flex-wrap: wrap;
}
.fj-w100{
    width: 100%;
}
.fj-w75{
    width: 75%;
}
.fj-w50{
    width: 50%;
}
.fj-w25{
    width: 25%;
}
.fj-mx-auto{
    margin: 0px auto;
}
.fj-cyan{
    color: $tirkiz;
}
body{
    color: $bela;
    background-color: $crna;
    font-family: "stranica";
    #loader{
        width: 100%;
        height: 100vh;
        z-index: 9;
        background-color: $crna;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        .loaderBodySkeleton{
            width: 20%;
            text-align: center;
            img{
                width: 50%;
            }
        }
    }
    main{
        width: 100%;
        margin: 0px auto;
        @include fleks;
        flex-direction: column;
        .container{
            width: 80%;
        }
        #landing{
            width: 100%;
            height: 100vh;
            position: relative;
            @include fleks();
            justify-content: center;
            align-items: center;
            #centerGif{
                width: 60%;
                display: none;
                img{
                    width: 100%;
                }
            }
            #landingMessage{
                text-align: right;
                width: 20%;
                position: absolute;
                bottom: 50px;
                right: 50px;
                opacity: 0;
            }
        }
        #aboutMe{
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px;
            @include fleks();
            flex-direction: column;
            background-color: #222222;
            border-radius: 10px;
            .picAndElem, .description{
                padding: 20px;
            }
            .picAndElem{
                @include fleks();
                align-items: center;
                .picture{
                    width: 35%;
                    text-align: center;
                    img{
                        width: 80%;
                        border-radius: 10px;
                    }
                }
                .elem{
                    width: 64%;
                    h3, h5{
                        padding: 5px 20px;
                    }
                    h3{
                        font-size: 2em;
                    }
                    h5{
                        font-size: 2.5em;
                    }
                }
            }
        }
        #timeline-content{
            .timeline {
                border-left: $line solid $tirkiz;
                border-bottom-right-radius: $radius;    
                border-top-right-radius: $radius;    
                color: fade(white, 80%);
                margin: $spacing auto;  
                letter-spacing: 0.5px;   
                position: relative;
                padding: $spacing;   
                list-style: none;
                width: 50%;
                
                .event {
                  border-bottom: 1px dashed fade($bela, 10%);
                  position: relative;
                  padding: 20px 0px;
                  .project{
                    width: 100%;
                    border-radius: 10px;
                    position: relative;
                    .imageProject, .descriptionProject{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        img{
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                    .descriptionProject{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        top: 0;
                        left: 0;
                        background-color: rgba(12,12,12,0.8);
                        text-align: center;
                        width: 100%;
                        .title{
                            color: $tirkiz;
                        }
                        .title, .description, .linkButton{
                            padding: 10px 0px;
                            p{
                                padding: 10px;
                                font-size: 12px;
                            }
                        }
                        a{
                            color: $bela;
                            text-decoration: none;
                            .linkButton{
                                border: 1px solid white;
                                transition: 0.5s;
                                &:hover{
                                    background-color: $bela;
                                }
                            }
                            &:hover{
                                color: $crna;
                            }
                        }
                        
                    }
                  }
                  &:last-of-type { 
                    padding-bottom: 0;
                    margin-bottom: 0; 
                    border: none;      
                  }
              
                  &:before, &:after {
                    position: absolute;
                    display: block;
                    top: 0;
                  }
              
              
                  &:after {
                    box-shadow: 0 0 0 $dotborder fade($tirkiz,100%);    
                    left: ($spacing + $line + ($dot * 0.35)) * -1;        
                    background: lighten($tirkiz,5%);    
                    border-radius: 50%;  
                    height: $dot;
                    width: $dot;
                    content: "";
                    top: 5px;
                  }
                }
            }
        }
        
    }
}
.fadeIn{
    animation: fadeIn 0.5s ease-in forwards;
}
.fadeOut{
    animation: fadeOut 0.5s ease-out forwards;
}
.slideUpShow{
    animation: slideUp 0.5s ease-in;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@media screen and (max-width: 770px) {
    main{
        .container{
            width: 98% !important;
        }
        .timeline {
            width: 80% !important;
        }
        h3{
            font-size: 16px;
        }
        p, a{
            font-size: 12px;
        }
        .title, .description, .linkButton{
            padding: 5px 0px !important;
            p{
                padding: 5px;
            }
        }
        .pageTitle{
            width: 100% !important;
            padding: 10px 5px;
        }
        #landing{
            #landingMessage{
                width: 45% !important;
                bottom: 20px !important;
                right: 20px !important;
            }
            #centerGif {
                width: 100% !important;
            }
        }
        #aboutMe{
            width: 80% !important;
            .picAndElem{
                text-align: center;
                .picture{
                    width: 100% !important; 
                    img{
                        width: 50% !important;
                        border-radius: 10px;
                    }
                }
                .elem{
                    width: 100% !important;
                    h3, h5{
                        padding: 5px 10px;
                    }
                    h3{
                        font-size: 1.5em;
                    }
                    h5{
                        font-size: 2em;
                    }
                }
            }
        }
        .pageTitle{
            padding-left: 30px;
            h2{
                font-size: 2em;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    main{
        #timeline-content{
            .timeline {
                width: 100% !important;
                padding: 20px !important;
                .event {
                    padding: 0px;
                    &:after {
                        box-shadow: 0 0 0 $dotborder fade($tirkiz,100%);    
                        left: (20px + $line + ($dot * 0.35)) * -1 !important;        
                        background: lighten($tirkiz,5%);    
                        border-radius: 50%;  
                        height: $dot;
                        width: $dot;
                        content: "";
                        top: 5px;
                    }
                }
                
            }
        }
        
        #aboutMe{
            .picAndElem{
                .picture{
                    width: 100% !important; 
                    img{
                        width: 70% !important;
                        border-radius: 10px;
                    }
                }
                .elem{
                    h3, h5{
                        padding: 2.5px 5px;
                    }
                    h3{
                        font-size: 1em !important;
                    }
                    h5{
                        font-size: 1.5em !important;
                    }
                }
            }
        }
    }
}
@keyframes slideUp{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #252525;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: $tirkiz;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #438378;
}

