@font-face {
  font-family: "stranica";
  src: url("../fonts/PoppinsRegular.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fj-w100 {
  width: 100%;
}

.fj-w75 {
  width: 75%;
}

.fj-w50 {
  width: 50%;
}

.fj-w25 {
  width: 25%;
}

.fj-mx-auto {
  margin: 0px auto;
}

.fj-cyan {
  color: #54A496;
}

body {
  color: #FFF;
  background-color: #121212;
  font-family: "stranica";
}
body #loader {
  width: 100%;
  height: 100vh;
  z-index: 9;
  background-color: #121212;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #loader .loaderBodySkeleton {
  width: 20%;
  text-align: center;
}
body #loader .loaderBodySkeleton img {
  width: 50%;
}
body main {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
body main .container {
  width: 80%;
}
body main #landing {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main #landing #centerGif {
  width: 60%;
  display: none;
}
body main #landing #centerGif img {
  width: 100%;
}
body main #landing #landingMessage {
  text-align: right;
  width: 20%;
  position: absolute;
  bottom: 50px;
  right: 50px;
  opacity: 0;
}
body main #timeline-content .timeline {
  border-left: 4px solid #54A496;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: fade(white, 80%);
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  padding: 50px;
  list-style: none;
  width: 50%;
}
body main #timeline-content .timeline .event {
  border-bottom: 1px dashed fade(#FFF, 10%);
  position: relative;
  padding: 20px 0px;
}
body main #timeline-content .timeline .event .project {
  width: 100%;
  border-radius: 10px;
  position: relative;
}
body main #timeline-content .timeline .event .project .imageProject, body main #timeline-content .timeline .event .project .descriptionProject {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
body main #timeline-content .timeline .event .project .imageProject img, body main #timeline-content .timeline .event .project .descriptionProject img {
  width: 100%;
  border-radius: 10px;
}
body main #timeline-content .timeline .event .project .descriptionProject {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.8);
  text-align: center;
  width: 100%;
}
body main #timeline-content .timeline .event .project .descriptionProject .title {
  color: #54A496;
}
body main #timeline-content .timeline .event .project .descriptionProject .title, body main #timeline-content .timeline .event .project .descriptionProject .description, body main #timeline-content .timeline .event .project .descriptionProject .linkButton {
  padding: 10px 0px;
}
body main #timeline-content .timeline .event .project .descriptionProject .title p, body main #timeline-content .timeline .event .project .descriptionProject .description p, body main #timeline-content .timeline .event .project .descriptionProject .linkButton p {
  padding: 10px;
  font-size: 12px;
}
body main #timeline-content .timeline .event .project .descriptionProject a {
  color: #FFF;
  text-decoration: none;
}
body main #timeline-content .timeline .event .project .descriptionProject a .linkButton {
  border: 1px solid white;
  transition: 0.5s;
}
body main #timeline-content .timeline .event .project .descriptionProject a .linkButton:hover {
  background-color: #FFF;
}
body main #timeline-content .timeline .event .project .descriptionProject a:hover {
  color: #121212;
}
body main #timeline-content .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
body main #timeline-content .timeline .event:before, body main #timeline-content .timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
body main #timeline-content .timeline .event:after {
  box-shadow: 0 0 0 4px fade(#54A496, 100%);
  left: -57.85px;
  background: #63afa2;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in forwards;
}

.fadeOut {
  animation: fadeOut 0.5s ease-out forwards;
}

.slideUpShow {
  animation: slideUp 0.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@media screen and (max-width: 770px) {
  main .container {
    width: 98% !important;
  }
  main .timeline {
    width: 100% !important;
  }
  main h3 {
    font-size: 16px;
  }
  main p, main a {
    font-size: 12px;
  }
  main .title, main .description, main .linkButton {
    padding: 5px 0px !important;
  }
  main .title p, main .description p, main .linkButton p {
    padding: 5px;
  }
  main .pageTitle {
    width: 100% !important;
    padding: 10px 5px;
  }
  main #landing #landingMessage {
    width: 45% !important;
    bottom: 20px !important;
    right: 20px !important;
  }
  main #landing #centerGif {
    width: 100% !important;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #54A496;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #438378;
}/*# sourceMappingURL=style.css.map */